@import "../../global.scss";

.skills {
    background-color: $bgColor2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2em;

    .title {
        width: inherit;
        text-align: center;

        h1 {
            font-size: 60px;
            margin: 10px 0;
            color: #000000;
        }
    }
}
