@import "../../global.scss";

.skills {
    background-color: $bgColor2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;

    .title {
        text-align: center;

        h1 {
            font-size: 60px;
            margin: 10px 0;
            color: #000000;
        }
    }

    .mapSkills {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
