@import "../../global.scss";

.containerContactMe {
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* main styles the main title */

.contactMe {
    display: flex;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    color: $mainColor;
}

/* style in the paragraph */

.pContac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
    line-height: 70px;
    margin: auto;
    margin-top: 30px;
    color: $mainColor;
}

/* style in info gmail and phone number */

.containerContacInfo {
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5 auto;
    margin-bottom: 20px;
}

.infoGeneral {
    margin: 20px 70px 0 3px;
    font-family: "Rajdhani", sans-serif;
    width: 19%;
    text-align: center;
    background-color: rgba(196, 196, 196, 72%);
    padding: 5px;
    border-radius: 6px;
}

.formContainer {
    background-color: rgba(196, 196, 196, 72%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 400px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 6px;
}

.title {
    font-family: "Rajdhani", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.labels {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
}

.inputs {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid grey;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
}

.submit {
    width: 100%;
    border: 3px solid grey;
    font-family: "Rajdhani", sans-serif;
    font-size: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgba(196, 196, 196, 80%);
    margin: 16px 0;
}

@media (max-width: 810px) {
    .pContac {
        text-align: center;
        width: 85%;
        margin: auto;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .infoGeneral {
        width: 70%;
        margin: auto;
    }
    .formContainer {
        width: 80%;
    }
}
