@import "../../global.scss";

.intro {
    background-color: $bgColor1;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: $mainColor;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 90%;
            }
        }
    }
    .right {
        flex: 0.5;
    }
}
